@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");

/* font-family: "Inter Tight", sans-serif; */
/* font-family: 'Miama', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: rgb(0, 0, 0);
  font-size: clamp(0.7rem, 1.5vw, 1rem);
}
:root {
  --btn-color: rgb(230, 83, 60);
  --card-bg-color: rgb(34, 34, 34);
  --input-bg: rgba(255, 255, 255, 0.1);
  --txt-color:white;
  --para-txt-color:#ffffff80;
  --header-txt:3rem;
}
.btn{
    padding:1rem 2.5rem;
    border-radius: 2rem;
    color: #ffffffa4;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    background-color: var(--btn-color);
    cursor: pointer;
}

body {
  font-family: "Inter Tight", sans-serif;
  max-width: 90%;
  margin: 0 auto;
  height: 100vh;
  background: black;
  color: var(--para-txt-color)
}

header{
  background: linear-gradient(180.00deg, rgb(35, 34, 34),rgb(0, 0, 0) 100%);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
    position: sticky;
    top: 0px;
    background: linear-gradient(
        90deg,
        rgba(41, 40, 40, 0.993),
        rgba(29, 28, 28, 0.9) 0%
      );
  min-height: 5vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  z-index: 1000;

}
.logo {
  border: 2px solid red;
  flex: 1 0 250px;
  font-size: 2.5rem;
  color:var(--btn-color);
  font-weight: 700;
}
.menu {
  flex: 1 0 250px;
  font-weight: 700;
  ;
}
.menu ul{
    border: 0.1rem solid var(--input-bg);
    border-radius: 2rem;
}
.option-container{
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #ffffffa4;
    font-size: 1.25rem;
    
}
.option-container li{
    padding: .75rem 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 0.3s linear;
}
.option-container li:hover{
    background-color:var(--btn-color);
}

.hamMenu{
    border: 1px solid white;
    flex: 0 0 50px;
    text-align: right;
    display: none;
    position: relative;
}

summary{
    list-style: none;
}
.dropOptions{
    position: absolute;
    padding: 1rem;
    background-color: rgb(37, 38, 39);
    list-style: none;
    right: 30px;
    top: 40px;
    border-radius: 1rem;
    min-width: max-content;
    text-align: center;
}
.dropOptions li{
    width: 100px;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .5rem 1.7rem;
    border-radius: .5rem;
    margin-top: 0.7rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.dropOptions li:hover{
    background: var(--btn-color);
}
.hamBars{
    padding: 1rem;
    border-radius: 100%;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s linear;
}
.hamBars:hover{
    background-color:var(--btn-color);
}

.bannerContainer{
  margin: 0 auto;
    /* border: 10px solid green; */
    padding: 1rem;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 1rem;
}
.bannerTextContainer{
    /* border:2px dotted white ; */
    display: flex;
    flex-direction: column;
    gap: 4rem;


}
.bannerText{
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    flex: 1 0 300px;
}
.bannerFigure{
    position: relative;
    /* border: 2px solid blue; */
    flex: 1 0 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.image{
    align-self: baseline;
    width: 100%;
}
.box1{
    position:absolute; 
    text-align: left; 
    border-radius: 1rem; 
    padding: 1rem 1.5rem;
    background-color: aliceblue; 
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    top: 23%;
    right: 25%;
    max-width: 50vw;
    transition: all 0.5s linear;
}
.box1:hover{
  scale: 1.1;
}
.boldText{
    font-size: 2.5rem;
    font-weight: 700; color: aliceblue;
}
.smallText{
    font-weight: 700;
    font-size: 0.8rem;
}
.roundIcon{
    color: var(--btn-color); 
    font-size: 2.5rem;
    animation: roundIcon 1.5s linear infinite;
}
@keyframes roundIcon {
  0%{
    scale: 1.1;
  }
  25%{
    scale: 0.8;
  }
  100%{
    scale: 1.1;
  }
  
}
.box2{
    position: absolute;
    border-radius: 1rem; 
    padding: 1rem;
    background-color: aliceblue; 
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    top: 75%;
    left: 18%;
    max-width: 50vw;
    transition: all 0.5s linear;
}
.box2:hover{
  scale: 1.1;
}

.heading{
    font-size: 4.5rem;
    font-weight: 900;
    color: aliceblue;
    line-height: 0.9;
    margin-bottom: 2rem;
}

span{
    font-size: 10rem;
    font-weight: 400;
    font-family: 'Miama';
}


.transButton{
    background-color: transparent;
    border: 0.2rem solid var(--input-bg);
    margin-left: 1rem;
    transition: all 0.3s linear;
}
.transButton:hover{
    background-color: #1f1e1e;
}

/* Change Habits  */
.habit{
  margin-top:6rem;
  border: 2px solid green;
  min-height: 20vh;
}
.habitTxt{
  border: 2px solid white;
  text-align: center;
  padding: 2rem 0rem;

}
.habitTxt h1{
  font-size: var(--header-txt);
  color: var(--txt-color);
  margin: 2rem 0;
}
.habitCards{
  border: 2px solid wheat;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  margin-bottom: 4rem;

}

.cardText h2{
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: var(--txt-color);
}
.cardImage img{
  margin-top: 2rem;
  border-radius: 50%;
}

/* Run Extra Miles */
.runMiles{
  padding: 1.4rem;
  border-radius: 1.4rem;
  border: 2px solid green;
  background-color: var(--input-bg);
  display: flex;
  gap: 2rem;
}
.runContent{
  border: 2px solid steelblue;
  flex: 2.5;
}
.runImage{
  border: 2px solid red;
  flex: 1.5;
  height: 320px;
  width: 380px;
  background-image: url(./assets/images/run.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  border-radius: 20px;
}


/* Media Queries */
@media screen and (max-width: 576px) {
    .logo{
        flex:0 0 150px;
    }
    .hamMenu{
    display: block;
  }
  .menu{
    display: none;
  }
  .box2{
    left: 5%;
    top: 70%;
  }
  .box1{
    right:15%;
    top: 25%;
  }
}
@media screen and (min-width: 577px) and (max-width: 993px) {
    .logo{
        flex:0 0 200px;
    }
    .menu{
        display: block;
      }
    .bannerContainer{
        flex-flow: column;
        min-height: 100vh;
    }
    .box2{
        left: 20%;
        top: 75%;
        padding: 0.5rem;
      }
      .box1{
        font-size: 1.5rem;
        padding: 1rem 2.5rem;
        right: 20%;
        top: 18%;
      }
      .bannerText{
        flex: 0 0 400px;
      }
      .bannerFigure{
        flex: 0 0 200px;
      }
      
      
}
